.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sideBarBackground {
  background-image: url(./assets/android-background.jpg);
  background-size: cover;
  min-height: 150pt;
}

.teamLogoThumbnail {
  width: 40pt
}

.scoreText {
  font-size: 2.5em
}

.teamName {
  font-size: 0.65em;
  color: white;
}

.playerModal {
  width: 50%
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .teamLogoThumbnail {
    width: 25pt
  }
  .scoreText {
    font-size: 1.8em;
    align-self: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15;
    flex: 2;
  }
  .teamName {
    font-size: 0.65em;
    color: white;
  }

  .playerModal {
    width: 80%
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .teamLogoThumbnail {
    width: 35pt
  }
  .scoreText {
    font-size: 2em;
    align-self: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15;
    flex: 2;
    ;
  }
  .teamName {
    font-size: 0.8em;
    color: white;
  }
  .playerModal {
    width: 70%
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .teamLogoThumbnail {
    width: 40pt
  }
  .scoreText {
    font-size: 2.3em;
    align-self: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15;
    flex: 2;
  }
  .teamName {
    font-size: 0.85em;
    color: white;
  }
  .playerModal {
    width: 60%
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .teamLogoThumbnail {
    width: 50pt
  }
  .scoreText {
    font-size: 2.5em;
    align-self: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15;
    flex: 2;
  }
  .playerModal {
    width: 50%
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .teamLogoThumbnail {
    width: 50pt
  }
}